*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Inter, sans-serif;
    
    height: 100vh;
}

.bg-image{
    background-image: url(https://images.unsplash.com/photo-1713427508624-48731fbe2461?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    height: 100%;
}


.container{
    background-color: #307570;
    display: flex;
    justify-content: center;
    gap: 20%;
    border: 1px solid black;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: white;
}


.zero{
    background-color: rgb(35, 34, 34);
    padding: 30px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration-style: dashed;
    border-radius: 5px;
}

.zero p{
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 50px;
    color: #D97706;
}

.other-scores{
    display: flex;
    justify-content: center;
}

.indiviudal-score{
    margin-right: 8px;
    border: 1px solid whitesmoke;
    padding: 4px;
    
}

